body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-wrapper {
    color: #FFFFFF;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navigation {
    list-style: none;
    display: flex;
    gap: 30px;
}

.hero {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.hero-text {
    color: #FFFFFF;
}

.hero button {
    background-color: #3882F6;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    border: none;
}

.hero-text {
    flex: 1;
}

.hero-image {
    background-color: grey;
    flex: 1;
}

.boxes {
    width: 900px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.box-wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box-image {
    width: 150px;
    height: 150px;
    background-color: grey;
    border-radius: 10px;
    margin-bottom: 10px;
}

.box-text {
    width: 150px;
    text-align: center;
    font-size: 12px;
}

.quote {
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote p {
    width: 500px;
    font-size: 22px;
    font-style: italic;
    margin: 0;
}

.quote .author {
    width: 500px;
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cta-box {
    background-color: #3882F6;
    border-radius: 10px;
    color: #FFFFFF;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    padding:30px 0 30px 0;
}

.cta-text h3 {
    margin:0;
    font-size:16px;
}

.cta-text p {
    font-size:12px;
    margin:0;
    margin-top:5px;
}

.cta-box button {
    background-color: #3882F6;
    border:1px solid #ffffff;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}

footer {
    background-color: #1F2937;
    color:white;
    padding:20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}